a {
  color: blue !important;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0px;
}

li {
  margin: 20px;
}

a:hover {
  color: red !important;
  text-decoration: underline !important;
}
